:root {
  --primary: #d1f897;
  --secondary: #99ff00;
  --tertiary: #7b9f45;
  --light-dark: #588711;
  --dark: #3b6004;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  position: relative;
  text-align: center;
  width: 900px;
  font-weight: 400;
  font-family: "Press Start 2P", cursive;
  justify-content: center;
  margin: auto;
  padding: 3rem 2.5rem;
}

h3 {
  width: 750px;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

h5 {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  padding: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  height: 400px;
  justify-content: center;
  margin: auto;
  padding: .5rem 1.5rem;
}

.cardContainerQuestions {
  margin: auto;
  width: 900px;
  height: 500px;
  padding: 10px 10px;
}

form {
  align-self: center;
  margin: 0 800 0px;
}

.hidden {
  visibility: hidden;
}

.startQuiz {
  margin-left: auto;
}

.time {
  position: relative;
  height: 900px;
  width: 900px;
}

button {
  margin-left: 125px;
  font-size: 2rem;
  text-decoration: none;
  width: fit-content;
  padding: 10px 10px;
  border-radius: var(--border-radius);
  color: #ffff;
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

/* quiz card */

.question-card {
  border: 3px solid #9caea9;
  border-radius: var(--border-radius);
  width: 50%;
}

/* quiz end card & form */

input {
  width: 20%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.gameOverCard {
  -ms-flex-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 0vh;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}


