:root {
  --primary: #d1f897;
  --secondary: #99ff00;
  --tertiary: #7b9f45;
  --light-dark: #588711;
  --dark: #3b6004;
  --border-radius: 0.3rem;
}

body {
  background-color: var(--primary);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  align-content: center;
  display: flex;
  flex-flow: column nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height:100%;
}

h1,
h5 {
  display: block;
  align-self: center;
  font-weight: 400;
  font-family: "Press Start 2P", cursive;
  margin: 100 700 100px;
  padding: 100 200 100px;
}

h3 {
  align-self: center;
  width: 750px;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin: 5 350 5px;
  padding: 0;
}

form {
  align-self: center;
  margin: 0 800 0px;
}

/* .main-body {
  min-height: 100vh;
} */

.hidden {
  visibility: hidden;
}

.startQuiz {
  justify-content: center;
  justify-items: center;
  justify-content: space-between;
}

.time {
  position: relative;
  height: 900px;
  width: 900px;
}

button {
  align-self: center;
  font-size: 1.3rem;
  text-decoration: none;
  width: fit-content;
  padding: 10px 20px;
  display:list-item;
  margin: 5px 300px;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-inline {
  display: inline;
}

.startbtn {
  margin: 0 0 0 100px;
}



/* quiz card */

.question-card {
  border: 3px solid #9caea9;
  border-radius: var(--border-radius);
  width: 50%;
}

/* quiz end card & form */

input {
  width: 20%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.gameOverCard {
  -ms-flex-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 0 0 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}


