:root {
  --primary: #fff7ee;
  --secondary: #9caea9;
  --tertiary: #8f055f;
  --light-dark: #b33c1b;
  --dark: #fb792d;
  --border-radius: 0.3rem;
}

body {
  background-color: var(--primary);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h3,
h5 {
  font-weight: 400;
  font-family: "Press Start 2P", cursive;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-inline {
  display: inline;
}

/* quiz card */
.question-card {
    border: 3px solid #9caea9;
    border-radius: var(--border-radius);
}
/* quiz end card & form */
.gameover-card {
    margin: 20 20px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}

input {
  width: 10%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}
